.site-title {
  font-family: 'Garamond';
  text-align: center;
  font-size: 36px;
  margin: 0;
}
.nav-menu {
  margin-top: -10px;
}
nav ul {
    list-style: none;
    color: white; 
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .nav-menu li {
    display: inline;
    margin-right: 20px;
  }
  .nav-menu a {
    text-decoration: none;
    color: #E69215; 
    text-align: center;
    font-weight: bold;
  }
.fonte {
 color: #E69215;
 text-align: center;
 margin-top: 0;
}
body {
overflow-x: hidden;
display: flex;
flex-direction: column;
font-family: Garamond;
padding: 0px;
margin: 0px;
 background-color: black;
}
header {
  background-color: black;
  padding-top: 20px;
}
.logo-button {
  position: absolute;
  top: 20px;
  left: 40px;
  z-index: 1;
}
.logo-button img {
  width: 120px;
  height: auto;
}
img {
  width: 250px;
  height: 280px;
}
h1 {
  margin: 0;
  color: #E69215;
  }
  /* camisetas */
  .container {
    max-width: 850px;
    margin: 20px auto;
    padding: 20px;
    background-color: #0A0A0A;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.camisetas {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
}
.image-container {
  position: relative;
}
.normal-image,
.hover-image {
  width: 250px;
  height: 280px;
  transition: opacity 0.3s ease-in-out;
}
.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.tamanho{
  color: white;
  padding-left: 230px;
  margin-bottom: 0;
  }
  /* tamanho m */
.camiseta-m {
    max-width: 200px;
    margin: 10px;
    padding: 30px;
    text-align: center;
}
  .camiseta-m a {
   text-decoration: none;
  }
  .camiseta-m:hover .normal-image {
    opacity: 0;
  }
  .camiseta-m:hover .hover-image {
    opacity: 1;
  }
  /*tamanho M */

  /* tamnho G & GG */
.camiseta-g {
    max-width: 200px;
    margin: 10px;
    padding: 30px;
    text-align: center;
}
  .camiseta-g a {
   text-decoration: none;
  }
  .camiseta-g:hover .normal-image {
    opacity: 0;
  }
  .camiseta-g:hover .hover-image {
    opacity: 1;
  }
  /* tamnho G & GG */
  /* camisetas */
  .lema {
    font-style: italic;
    text-align: center;
    margin: 20px 0;
  }
  h2{
  color: white;
  }
  p {
  color: white;
  }
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: left;
    padding: 20px 0;
    color: #E69215;
    background-color: black;
    z-index: 1; 
  }
  .footer-links-left {
    float: left;
  }
  .footer-links-left a img {
    width: 40px;
    height: 27px;
    margin-left: 50px;
  }
  .footer-links-right {
    float: right;
    margin-right: 30px;
  }
  .footer-links-right a {
    display: inline-block;
    margin-left: 20px;
    font-size: 14px;
    color: #E69215;
    text-decoration: none;
  }
  .footer-links-right a:hover {
    text-decoration: underline;
  }
.centered-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.container{
  flex: 1;
}
#posicionado-relativamente {
  position: relative;
  font-size: 20px; 
  top: 75px;
  left: 300px;
}
.vestuario {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.vestuario img {
  margin-right: 5px;
}
@media screen and (max-width: 768px) {
  .nav-menu {
    margin-top: 10px;
    text-align: center;
  }
  .nav-menu li {
    display: block;
    margin: 10px 0;
  }
  .logo-button {
    position: absolute;
    top: 80px;
    left: 10px;
    z-index: 1;
   }
   .container {
    max-width: 360px;
    margin: 20px auto;
    padding: 20px;
    background-color: #0A0A0A;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.camisetas {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
}
.image-container {
  position: relative;
}
.normal-image,
.hover-image {
  width: 250px;
  height: 280px;
  transition: opacity 0.3s ease-in-out;
}
.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.tamanho{
  color: white;
  padding-left: 20px;
  margin-bottom: 0;
  }
  /* tamanho m */
.camiseta-m {
    max-width: 200px;
    margin: 10px;
    padding: 30px;
    text-align: center;
}
  .camiseta-m a {
   text-decoration: none;
  }
  .camiseta-m:hover .normal-image {
    opacity: 0;
  }
  .camiseta-m:hover .hover-image {
    opacity: 1;
  }
  /*tamanho M */

  /* tamnho G & GG */
.camiseta-g {
    max-width: 200px;
    margin: 10px;
    padding: 30px;
    text-align: center;
}
  .camiseta-g a {
   text-decoration: none;
  }
  .camiseta-g:hover .normal-image {
    opacity: 0;
  }
  .camiseta-g:hover .hover-image {
    opacity: 1;
  }
  /* tamnho G & GG */
  /* camisetas */
  }